Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests",
        "jest --bail --all --testPathPattern=demo.test.js"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

ci(Travis): move deploy to jobs
  .travis.yml
Due: none

chore(release): 0.3.1-beta.1
  CHANGELOG.md
  package.json
Due: prettier --write

ci(Travis): remove test script
  .travis.yml
  package.json
Due: prettier --write

ci(Travis): skip script when deploy
  .travis.yml
Due: none

ci(Travis): change deplpy gh-pages
  .travis.yml
  package.json
  scripts/gh-pages.sh
Due: prettier --write

ci(Travis): change script
  .travis.yml
  package.json
  scripts/gh-pages.sh
Due: prettier --write

ci(Travis): fix script bug
  .travis.yml
Due: none

ci(Travis): fix script
  .travis.yml
Due: none

chore(release): 0.3.1-beta.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Travis auto update docs, v0.3.1-beta.2
  favicon.ico
  fonts/ucicon.eot
  fonts/ucicon.svg
  fonts/ucicon.ttf
  fonts/ucicon.woff
  index.html
  style.css
  style/icon.css
  style/reset.css
Due: prettier --write

ci(Travis): modify commit msg
  scripts/gh-pages.sh
Due: none

ci(Travis): merge script
  .travis.yml
Due: none

docs(ChangeLog): clean
  CHANGELOG.md
Due: prettier --write

chore(release): 0.3.1-beta.3
  CHANGELOG.md
  package.json
Due: prettier --write

ci(Travis): deploy when branch is master
  .travis.yml
Due: none

Travis: add deploy (#2)
  .gitignore
  .styleguide/components/StyleGuideRenderer.jsx
  .travis.yml
  README.md
  package.json
  scripts/gh-pages.sh
  styleguide.config.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

build(*): change publish script
  package.json
Due: prettier --write

chore(release): 0.3.1-beta.4
  package.json
Due: prettier --write

docs(github): create CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

docs(github): add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

docs(github): Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

docs(github): add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(develop): add git commit guideline
  DEVELOP.md
Due: prettier --write

docs(github): add contributing docs
  .github/CONTRIBUTING.md
Due: prettier --write

ci(Travis): add travis config
  .editorconfig
  .eslintignore
  .gitignore
  .prettierignore
  .prettierrc
  .travis.yml
  package.json
  tests/setup.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

ci(Travis): add deploy
  .gitignore
  .styleguide/components/StyleGuideRenderer.jsx
  .travis.yml
  README.md
  package.json
  scripts/gh-pages.sh
  styleguide.config.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

docs(github): modify pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(*): fix markdown style bug
  .github/CONTRIBUTING.md
  DEVELOP.md
Due: prettier --write

feat(DatePicker): add Range.hideOptions
  src/components/DatePicker/Range.jsx
  src/components/DatePicker/Range.md
  src/components/DatePicker/__demo__/range-hideOptions.jsx
  src/components/DatePicker/__demo__/range.jsx
  src/components/DatePicker/__test__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js
