Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests",
        "jest --bail --all --testPathPattern=demo.test.js"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

feat(DatePicker): add Range.hideOptions
  src/components/DatePicker/Range.jsx
  src/components/DatePicker/Range.md
  src/components/DatePicker/__demo__/range-hideOptions.jsx
  src/components/DatePicker/__demo__/range.jsx
  src/components/DatePicker/__test__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

feat(DatePicker): add display to Range
  src/components/DatePicker/Range.jsx
  src/components/DatePicker/Range.md
  src/components/DatePicker/__demo__/range-display.jsx
  src/components/DatePicker/__test__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

chore(Develop): fix demo crash in windows
  .styleguide/components/Examples.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

fix(Tooltip): fix arrow style when without reset.css
  src/components/Tooltip/__test__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

chore(Develop): remove jest all demo in precommit hooks
  .lintstagedrc
Due: none

ci(Circle): add CircleCI config
  .circleci/config.yml
  .editorconfig
Due: none

ci(Travis): set jest worker number to 2 to avoid break of test
  .travis.yml
Due: none

docs(readme): add CircleCI badge
  README.md
Due: prettier --write

ci(Circle): add codecov report
  .circleci/config.yml
  jest.config.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

ci(Circle): add sudo to run install codecov
  .circleci/config.yml
Due: none

test(eslint): ignore coverage
  .eslintignore
Due: none

ci(Circle): add badge to readme
  README.md
Due: prettier --write

ci(Circle): add codecov report
  .circleci/config.yml
  .eslintignore
  README.md
  jest.config.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

ci(Circle): change jobs to workflow
  .circleci/config.yml
Due: none

ci(Circle): fix workflow
  .circleci/config.yml
Due: none

ci(Circle): add checkout step to fix error
  .circleci/config.yml
Due: none

ci(Circle): modify persist path
  .circleci/config.yml
Due: none

ci(Circle): add attach workspace
  .circleci/config.yml
Due: none

ci(Circle): change workflow
  .circleci/config.yml
Due: none

ci(Circle): restore save cache
  .circleci/config.yml
Due: none

ci(Circle): split jobs to workflow
  .circleci/config.yml
Due: none

ci(Circle): config cache of yarn to speed up setup
  .circleci/config.yml
Due: none

ci(Circle): add node_modules to cache
  .circleci/config.yml
Due: none

ci(Circle): test cache
  .circleci/config.yml
Due: none

ci(Circle): modify cache name
  .circleci/config.yml
Due: none

style(prettier): remove tabWidth in prettier
  .prettierignore
  .prettierrc
  .travis.yml
Due: none

fix(DatePicker): set Range container to trigger parent
  src/components/DatePicker/Range.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

feat(DatePicker): add zIndex
  src/components/DatePicker/DatePicker.jsx
  src/components/DatePicker/Month.jsx
  src/components/DatePicker/Range.jsx
  src/components/DatePicker/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

feat(Popover): add zIndex
  src/components/Popover/Popover.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js

ci(Travis): remove coverage
  .circleci/config.yml
  jest.config.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests, jest --bail --all --testPathPattern=demo.test.js
